@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Heebo&family=Lato&family=PT+Sans&family=Work+Sans:wght@100;400&family=Roboto:wght@700&display=swap');

* {
  margin: 200;
  padding: 300;
  box-sizing: border-box;
}

body {
  background-image: url(fundo\ 01.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'PT Sans', sans-serif;
  line-height: 100%;
}

.inf-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#inf h2{
    font-size: 3.5rem

}
.container {
  background-color: #d3e9ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  flex: 1 1 250px;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.cor1 h3 {
  color: #1e90ff; 
}

.cor2 h3 {
  color: #28a745;
}

.cor3 h3 {
  color: #ff8c00; 
}

.cor4 h3 {
  color: #dc3545; 
}


.container h3 {
  margin-bottom: 12px;
}

.container p {
  color: #333;
  line-height: 1.4;
}


header {
  text-align: center;
  padding: 30px 20px 10px;
  background-color: #d9ead3;
  border-bottom: 2px solid #2e8b57;
}

header h1 {
  color: #2e8b57;
}


#proposta {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #b4ecbc;
  border-radius: 8px;
  color: #2e8b57;
  font-size: 1.1rem;
  line-height: 1.5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.lixo {
  background: #fbfffa00;
}
.lixo-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#proposta_ {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f1e6b1;
  border-radius: 8px;
  color: #2e8b57;
  font-size: 1.1rem;
  line-height: 1.5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
header h1 {
  color: #311c0a;
}

.cor01 h3 {
  color: #6a010c;
}

.cor02 h3 {
  color: #6a010c;
}

.cor03 h3 {
  color: #6a010c;
}

.cor04 h3 {
  color: #6a010c;
}

.cor05 h3 {
  color: #6a010c;
}

.cor06 h3 {
  color: #6a010c;
}

.cor07 h3 {
  color: #6a010c;
}

